.App {
  text-align: center;
}

.parallax {
  background: url("./images/MountainsBG.svg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}

.fizzy {
  font-size: 3em;
}

.firstContainer {
  background: url("./images/CSSBG.jpg");
  padding: 10%;
  height: 125vh;
  width: 100%;
  background-attachment: fixed;
  /* opacity: .7; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.card:hover {
  -webkit-box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px -12px rgba(0,0,0,0.75);
  transition: .3s ease-in-out;
}

.image-flip:hover .backside, .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  }
   
  .image-flip:hover .frontside, .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  }
   
  .image-flip {
  margin-bottom:200px;
  width: 300px;
  height: 250px;
  }
   
  .mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  }
   
  .frontside, .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  }
   
  .frontside {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  }
   
  .backside {
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  }
   
  .card, .card-img-top {
  border-radius: 0;
  }

.secondContainer {
  background: rgb(235,140,41);
  background: linear-gradient(0deg, rgba(235,140,41,1) 20%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* opacity: .7; */
  background-repeat: no-repeat;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  color: #1bd19f;
  position: absolute;
  top: 5px;
  height: 20px;
  margin: 5px 0 0 5px;
}

.App-logo:hover {
  color: #d11b94;
  transition: .4s ease-in-out;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding: 25% 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



