body, html {
  max-width: 100%;
  width: 100%;
  background: url("./images/Nav.svg");
  background: #cca7e1; /* Old browsers */
  background: -moz-linear-gradient(top, #cca7e1 0%, #4bccff 60%, #00b7ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cca7e1 0%,#4bccff 60%,#00b7ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cca7e1 0%,#4bccff 60%,#00b7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c6e1', endColorstr='#00b7ff',GradientType=0 ); 
}

html {
  position: relative;
  min-height: 100%;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: "Satisfy", cursive;
}

h2, h3, h4, h5, h6, ul, li, ol, a, p, .contactFields {
  font-family: "Rajdhani", sans-serif;
}

.contactFields {
  font-weight: 900;
}


