body, html {
  max-width: 100%;
  width: 100%;
  background: url("./images/Nav.svg");
  background: #32916d; /* Old Browsers */
  background: -webkit-linear-gradient(left,#32916d,#00ff7c); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,#32916d,#00ff7c); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,#32916d,#00ff7c); /*Fx 3.6-15*/
  background: linear-gradient(to right, #32916d, #00ff7c); /*Standard*/
}

html {
  position: relative;
  min-height: 100%;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: "Satisfy", cursive;
}

h2, h3, h4, h5, h6, ul, li, ol, a, p, .contactFields {
  font-family: "Rajdhani", sans-serif;
}

.contactFields {
  font-weight: 900;
}


