.navbar {
  background: url("../../images/NavBG.svg");
  background-repeat: repeat-x;
  width: 100%;
  margin: 0 auto;
  border-color: transparent;
}

.navbar ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.navbar li {
  width: 33%;
  display: inline-block;
}


/* .tagline {
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
} */

/* @media (max-width: 1100px) {
  .tagline {
    font-size: 1rem;
    top: 25%;
  }
} */

@media (max-width: 1000px) {
  .navbar {
    height: 100px;
    align-content: top;
  }

  .navbar li {
    display: inline-block;
  }
}

@media (max-width: 750px) {
  .navbar {
    height: 100px;
  }
}

.navbar a {
  color: #1bd19f;
  font-size: 1.5rem;
  margin-right: 15px;
}

.navbar a:hover {
  text-decoration: none;
  color: #d11b94;
  transition: 0.4s ease-in-out;
  transition: 0.4s ease-out;
}

/* @media (max-width: 1100px) {
  .navbar, .navbar a, .App-logo {
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .navbar, .navbar a, .App-logo {
    font-size: 1rem;
  }
  .navbar {
    background-size: 150%;
    background-position: top center;
  }
} */

.EastLogo {
  width: 100%;
}

/* @media (max-width: 750px) {
  .EastLogo {
    width: 50%;
    left: 22%;
  }
} */

.EastLogo:hover {
  animation: bounce .7s linear infinite;
  -moz-animation: bounce .7s linear infinite;
  -webkit-animation: bounce .7s linear infinite;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
/* 
.icons {
  top: 35px;
  padding: 10px;
}
     */