/* .navbar {
    width: 100%;
    margin: 0;
    z-index: 1000;
  } */

.navbar {
  position: fixed;
  right: 0; left: 0; top: -40px; bottom: 0;
  background: url("../../images/Nav.svg");
  background-repeat: repeat-x;
  background-size: 100%;
  background-attachment: fixed;
  height: 350px;
  margin-bottom: 20px;
  /* -webkit-box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.2);
  -moz-box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.2);
  box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.2); */
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}


.scrolled {
  background: rgba(68, 68, 68, 0.2); /* IE */
  background: rgba(0, 0, 0, 0.78); /* NON-IE */
}
  
/* .navbar-top {
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.2);
  -moz-box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.2);
  box-shadow: 0px 10px 10px 0px rgba(50,50,50,0.2);
} */

.navbar a {
  color: white;
  font-size: 1.5rem;
  margin-right: 15px;
}

.navbar a:hover {
  text-decoration: none;
  color: #1bd19f;
  transition: 0.3s ease;
}

.navbar a:active {
  color: darkgreen;
}

@media (max-width: 1100px) {
  .navbar {
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .navbar {
    font-size: 1rem;
  }
}
    